<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546926223783-ce3ota9k18lal6cf0d90smj5tnjofon9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546926223783-ce3ota9k18lal6cf0d90smj5tnjofon9</string>
	<key>API_KEY</key>
	<string>AIzaSyDFneEwQ08tC5agCHXc127VszyXXLXDTqg</string>
	<key>GCM_SENDER_ID</key>
	<string>546926223783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Codepath.ImHere</string>
	<key>PROJECT_ID</key>
	<string>imhere-3f99b</string>
	<key>STORAGE_BUCKET</key>
	<string>imhere-3f99b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546926223783:ios:20aee3bc45de33f2201682</string>
	<key>DATABASE_URL</key>
	<string>https://imhere-3f99b.firebaseio.com</string>
</dict>
</plist>